.home-page-both-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.home-page-left-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-page-left-section-h1{
    font-size: 38px;
    color: teal;
}
.create-resume-button{
    background-color: teal;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.create-resume-button:hover{
    cursor: pointer;
    background-color: white;
    color: teal;
    border: 1px solid teal;
}