.back-next-button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.back-next-button{
    color: #efefef;
    background-color: teal;
    border: none;
    border-radius: 2px;
    padding: 6px 16px;
    transition: all 0.3s ease;
}

.back-next-button:disabled{
    background-color: gainsboro;
    color: white;
}

.back-next-button:hover{
    cursor: pointer;
    color: teal;
    border: solid 1px teal;
    background-color: #efefef;
}